.container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#playgroud {
  border: 0;
  flex: 1;
}

.container > section:nth-child(2) {
  flex: 1;
  display: flex;
}
